<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="300" [showSpinner]="true" [direction]="'leftToRightIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="row">
    <div class="col-lg-push-2 col-lg-8 col-md-12 col-xs-12">
      <h2 class="text-center"><strong>ເພີ່ມສູນອິນເຕີເນັດໃໝ່</strong></h2>
      <div class="box box-primary">
          <div class="box-header with-border">
            <p class="box-title">ກະລຸນາປ້ອນຂໍ້ມູນສູນອິນເຕີເນັດໃຫ້ຖືກຕ້ອງ ແລະ ຄົບຖ້ວນ</p>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form novalidate role="form" [formGroup]="internetForm" (submit)="saveInternetCenter()">
            <div class="box-body">
              <!-- Attraction row -->
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                      <label>ຊື່ສູນອິນເຕີເນັດ</label>
                      <input type="text" class="form-control" id="int_name" formControlName="int_name" placeholder="ຊື່ສູນອິນເຕີເນັດ">
                    </div>
                    <ul class="error-message-one" *ngIf="internetForm.controls['int_name'].errors && internetForm.controls['int_name'].dirty">
                      <li [hidden]="!internetForm.controls['int_name'].hasError('required')">ຊື່ສູນອິນເຕີເນັດທີ່ຫ້າມວ່າງ</li>
                    </ul>
                </div>
              </div>
              <!-- Attraction row -->
              <!-- Address row -->
              <div class="row">
                  <div class="col-lg-12 col-xs-12">
                      <h5><strong>ທີ່ຢຸ່</strong></h5>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <span>ແຂວງ</span>
                      <select class="form-control select2" id="int_province" formControlName="int_province" style="width: 100%;" (change)="changeDistrict()">
                        <option *ngFor="let province of provinces; let i=index" value="{{province._id}}"><span>{{province.province}}</span></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <span>ເມືອງ</span>
                      <select class="form-control select2" id="int_district" formControlName="int_district" style="width: 100%;" (change)="changeVillage()">
                        <option *ngFor="let district of districts; let j=index" value="{{district._id}}"><span>{{district.district}}</span></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <span>ບ້ານ</span>
                      <input 
                            type="text" 
                            class="form-control" 
                            id="int_village" 
                            ngui-auto-complete
                            [source]="villages"
                            z-index="4"
                            formControlName="int_village" 
                            placeholder="ບ້ານ">
                    </div>
                    <ul class="error-message-one" *ngIf="internetForm.controls['int_village'].errors && internetForm.controls['int_village'].dirty">
                      <li [hidden]="!internetForm.controls['int_village'].hasError('required')">ຊື່ບ້ານຫ້າມວ່າງ</li>
                    </ul>
                  </div>
              </div>
              <!-- Address row -->
              
              <!-- Map row -->
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <h5><strong>ຈຸດທີ່ຕັ້ງໃນແຜນທີ່</strong></h5>
                  <div class="map">
                    <agm-map 
                      [latitude]="lat"
                      [longitude]="lng"
                      [zoom]="zoom"
                      [disableDefaultUI]="true"
                      [zoomControl]="true">
                      
                      <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                          [radius]="5000"
                          [fillColor]="'red'"
                          [circleDraggable]="true"
                          [editable]="true">
                      </agm-circle>
  
                    </agm-map>
                  </div>
                  <button tooltip="ເລືອກຈຸດທີ່ຕັ້ງປະຈຸບັນ" type="button" class="btn btn-success btn-round" (click)="setCurrentLocationLatLong()"><i class="fa fa-map-marker"></i></button>
                </div>
                <div class="col-lg-6 col-xs-12">
                  <div class="form-group">
                    <span>ລັດຕິຈຸດ</span>
                    <input type="text" class="form-control" readonly id="int_lat" formControlName="int_lat" placeholder="ລັດຕິຈຸດ">
                  </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                  <div class="form-group">
                      <span>ລອງຕິຈຸດ</span>
                    <input type="text" class="form-control" readonly id="int_long" formControlName="int_long" placeholder="ລອງຕິຈຸດ">
                  </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                  <ul class="error-message-one" *ngIf="internetForm.controls['int_long'].errors && internetForm.controls['int_long'].dirty">
                    <li [hidden]="!internetForm.controls['int_long'].hasError('required')">ເລືອກລັດຕິຈຸດ ແລະ ລອງຕິຈຸດຈາກແຜນທີ່</li>
                  </ul>
                </div>
              </div>
              <!-- Map row -->
              <!-- Textarea row -->
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <label>ລາຍລະອຽດ</label>
                    <textarea class="textarea" placeholder="ລາຍລະອຽດ" formControlName="int_detail"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>
              </div>
              <!-- Textarea row -->
              <!-- Contact -->
              <div class="row">
                  <div class="col-lg-12 col-xs-12">
                      <h5><strong>ຂໍ້ມູນຕິດຕໍ່</strong></h5>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <span>ອີເມວ</span>
                      <input type="email" class="form-control"  id="int_email" formControlName="int_email" placeholder="ອີເມວຕິດຕໍ່">
                    </div>
                    <ul class="error-message-many" *ngIf="internetForm.controls['int_email'].errors && internetForm.controls['int_email'].dirty">
                      <li [hidden]="!internetForm.controls['int_email'].hasError('required')">ອີເມວຫ້າມວ່າງ</li>
                      <li [hidden]="!internetForm.controls['int_email'].hasError('simpleEmailRule')">ອີເມວບໍ່ຖືກຕ້ອງ</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <span>ເບີໂທ</span>
                      <input type="text" class="form-control"  id="int_tel" formControlName="int_tel" placeholder="ເບີໂທຕິດຕໍ່">
                    </div>
                    <ul class="error-message-one" *ngIf="internetForm.controls['int_tel'].errors && internetForm.controls['int_tel'].dirty">
                      <li [hidden]="!internetForm.controls['int_tel'].hasError('required')">ເບີໂທຕິດຕໍ່ຫ້າມວ່າງ</li>
                    </ul>
                  </div>
                </div>
                <!-- Contact -->
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <h5><strong>ສື່ອອນໄລຕ່າງໆ</strong></h5>
                </div>
                <div class="col-lg-12 col-xs-12">
                  <table class="table table-condensed" formArrayName="socials" *ngIf="socialLength()">
                    <tr>
                      <th style="width: 10px">ລຳດັບ</th>
                      <th>ຊື່</th>
                      <th>URL</th>
                      <th style="width: 40px">ລົບ</th>
                    </tr>
                    <tr *ngFor="let social of internetForm.get('socials').controls; let i=index"
                        [formGroup]="social">
                      <td>{{i + 1}}</td>
                      <td>
                          <div class="form-group">
                              <input type="text" class="form-control input-sm" id="name" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                          </div>
                          <ul class="error-message-one" *ngIf="social.controls['name'].errors && social.controls['name'].dirty">
                            <li [hidden]="!social.controls['name'].hasError('required')">ຊື່ສື່ອອນໄລຫ້າມວ່າງ</li>
                          </ul>
                      </td>
                      <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" id="url" formControlName="url" placeholder="URL">
                        </div>
                        <ul class="error-message-many" *ngIf="social.controls['url'].errors && social.controls['url'].dirty">
                          <li [hidden]="!social.controls['url'].hasError('required')">URL ຫ້າມວ່າງ</li>
                          <li [hidden]="!social.controls['url'].hasError('pattern')">(http or https://www.example.com/...)</li>
                        </ul>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeSocial(i)"><i class="fa fa-minus"></i></button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-lg-12 col-xs-12 text-right">
                    <button type="button" class="btn btn-success btn-sm" (click)="addNewSocial()"><i class="fa fa-plus"></i> ເພີ່ມສື່</button>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <div class="form-group">
                    <label for="res_images">ເລືອກຮູບ</label> (<span class="help-text">ສາມາດເລືອກໄດ້ຫຼາຍຮູບ</span>)
                    <input type="file"  id="int_images" (change)="fileChangeListener($event)">
                  </div>
                  <ul class="error-message-one" *ngIf="checkImageAfterTrigerForm">
                    <li [hidden]="anotherForm.value['images'].length">ຕ້ອງເລືອກຮູບສູນອິນເຕີເນັດຢ່າງໜ້ອຍ 1 ຮູບ</li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let image of internetForm.value['images']; let j=index">
                  <div class="small-box">
                      <div class="box-header">
                        <p><strong>ຮູບທີ່ {{j + 1}}</strong></p>
                        <div class="box-tools"><i class="fa fa-close closeIcon" (click)="internetForm.value['images'].splice(j, 1);"></i></div>
                      </div>
                      <div class="inner">
                          <img [src]="image" alt="image {{j + 1}}">
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-right">
              <button type="reset" class="btn btn-danger"><i class="fa fa-close"></i> ຍົກເລີກ</button>
              <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
            </div>
          </form>
        </div>
    </div>
  </div>

  <!-- Crom image dialog -->
  <div class="image-cropper-view" *ngIf="cropImageChecked">
    <div class="text-center">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="text-center">
      <label style="width: 800px;">
        <div class="text-right">
          <button type="button" class="btn btn-danger" (click)="cancelCrop()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
          <button type="button" class="btn btn-success" (click)="croppedImage()"><i class="fa fa-check"></i> ຕົກລົງ</button>
        </div>
      </label>
    </div>
  </div>
  <!-- Crom image dialog -->

  <!-- Upload image dialog *ngIf="uploadImageChecked" -->
  <div class="image-upload" *ngIf="uploadImageChecked">
      <div class="row">
        <div class="col-lg-push-2 col-lg-8 col-md-push-2 col-md-8 col-sm-push-1 col-sm-10 col-xs-push-1 col-xs-10">
          <div class="box box-widget">
            <div class="box-header">
                <h4><span>ອັບໂຫຼດຮູບ...</span> <strong>{{imageIndexUpload}}</strong>/<strong>{{imageLengthUpload}}</strong> <strong>ຮູບ</strong></h4>
            </div>
            <div class="box-body upload-scrollbar">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let image of internetForm.value['images']; let i=index">
                  <div class="box box-widget">
                    <div class="box-body">
                      <div class="clearfix">
                        <span class="pull-left">ອັບໂຫຼດແລ້ວ</span>
                        <small class="pull-right">{{uploadPercent[i] | number:'1.0-0'}}%</small>
                      </div>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" [ngStyle]="{width: uploadPercent[i]+'%'}"></div>
                      </div>
                      <img [src]="image" alt="image {{i}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <h4 class="text-center help-text"><strong>{{imageUploadMessage}}</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Upload image dialog -->
  
    <!-- Saving icon -->
      <div class="save-box" *ngIf="savingChecked">
        <div class="box-revers-background"></div>
        <div class="box box-widget bg-blue save-detail">
          <div class="box-body text-center">
              <i class="fa fa-save"></i>
              <strong>ກຳລັງບັນທືກ ...</strong>
          </div>
        </div>
      </div>
    <!-- Saving icon -->
  
    <!-- Saved icon -->
    <div class="save-box" *ngIf="savedChecked">
        <div class="box-revers-background"></div>
      <div class="box box-widget bg-green save-detail">
        <div class="box-body text-center">
            <i class="fa fa-check"></i>
            <strong>ບັນທືກແລ້ວ</strong>
        </div>
      </div>
    </div>
    <!-- Saved icon -->