<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a>
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"> Notification</li>
    </ol>
  </section>
  <!-- Content Header (Page header) -->
  
  <!-- Main content -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <!-- Main content -->
  </div>
  
