<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="300" [showSpinner]="true" [direction]="'leftToRightIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="row">
  <div class="col-lg-push-2 col-lg-8 col-md-push-1 col-md-10 col-xs-12">
    <!-- Box Comment -->
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="row" *ngIf="checkEditProfile">
            <div class="col-lg-12 col-xs-12">
              <h4 class="text-center"><strong>ແກ້ໄຂຮູບ</strong></h4>
                <div class="small-box">
                  <div class="box-header">
                    <div class="form-group">
                      <label for="res_images">ເພີ່ມຮູບ</label>
                      <input type="file" accept="image/*" id="com_images" (change)="fileChangeListener($event)">
                    </div>
                    <div class="box-tools"><a href="javascript:event" class="closeIcon" (click)="checkEditProfile=false">ຍົກເລີກ</a></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let image of tour_company['images']; let i=index">
                      <div class="small-box">
                        <div class="box-header">
                          <div class="box-tools"><i tooltip="ລົບ" class="fa fa-close closeIcon" (click)="deleteImage(i, image)"></i></div>
                        </div>
                        <div class="inner">
                            <img [src]="getImage(image)" alt="image {{i}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!checkEditProfile">
            <div class="col-lg-12 col-xs-12">
              <img [src]="getImage(tour_company['images'][0])" alt="Photo 1" *ngIf="tour_company['images']">
              <i tooltip="ແກ້ໄຂຮູບ" class="fa fa-edit editProfile" (click)="checkEditProfile=true"></i>
            </div>
        </div>
        <!-- /.user-block -->
        <div class="row">
            <div class="col-lg-12 col-xs-12" *ngIf="!checkEditName">
                <h3>
                  <strong tooltip="ຊື່ບໍລິສັດນຳທ່ຽວ">{{tour_company['name']}}</strong>
                  <span style="font-size: 16px;">
                    (<span class="help-text"> ບໍລິສັດນຳທ່ຽວ </span>)
                  </span> 
                  <i tooltip="ແກ້ໄຂຊື່ບໍລິສັດນຳທ່ຽວ" class="fa fa-edit editIcon" (click)="viewEditName()"></i>
                </h3>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditName">
              <h4 class="text-center"><strong>ແກ້ໄຂຊື່ບໍລິສັດນຳທ່ຽວ</strong></h4>
              <form novalidate [formGroup]="updateTittleForm" (ngSubmit)="updateTitle()">
                <table class="table table-condensed">
                  <tr>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" id="com_name" formControlName="com_name" placeholder="ຊື່ບໍລິສັດນຳທ່ຽວ">
                      </div>
                    </td>
                    <td style="width: 10px">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                    </td>
                    <td style="width: 10px">
                        <button type="button" class="btn btn-danger" (click)="checkEditName=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
          <div class="row">
            <div class="col-lg-12 col-xs-12">
                <h4><strong>ທີ່ຢູ່:</strong></h4>
                <p *ngIf="!checkEditAddress">
                  <span style="font-size: 16px;" *ngIf="tour_company['address']">
                    ບ້ານ{{tour_company['address']['village']}} 
                    ເມືອງ{{tour_company['address']['district']['district']}} 
                    ແຂວງ{{tour_company['address']['district']['province']['province']}}
                  </span>
                  <i tooltip="ແກ້ໄຂທີ່ຢູ່" class="fa fa-edit editIcon" (click)="checkEditAddress=true"></i>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditAddress">
                <form novalidate [formGroup]="updateAddressForm" (ngSubmit)="updateAddress()">
                  <table class="table table-condensed">
                    <tr>
                      <td>
                        <select class="form-control select2" id="com_province" formControlName="com_province" style="width: 100%;" (change)="changeDistrict()">
                          <option *ngFor="let province of provinces; let i=index" value="{{province._id}}"><span>{{province.province}}</span></option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control select2" id="com_district" formControlName="com_district" style="width: 100%;" (change)="changeVillage()">
                          <option *ngFor="let district of districts; let j=index" value="{{district._id}}"><span>{{district.district}}</span></option>
                        </select>
                      </td>
                      <td>
                        <input 
                              type="text" 
                              class="form-control" 
                              id="com_village" 
                              ngui-auto-complete
                              [source]="villages"
                              z-index="4"
                              formControlName="com_village"
                              placeholder="ບ້ານ">
                      </td>
                      <td style="width: 10px">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                      </td>
                      <td style="width: 10px">
                        <button type="button" class="btn btn-danger" (click)="checkEditAddress=false"><i class="fa fa-close"></i></button>
                      </td>
                    </tr>
                  </table>
                </form>
            </div>

            <div class="col-lg-12 col-xs-12">
              <div class="map">
                <agm-map 
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="true"
                    (mapClick)="changeLocation($event)">
                    
                    <agm-marker 
                        [latitude]="lat" 
                        [longitude]="lng" 
                        [label]="label">
                      </agm-marker>
  
                  </agm-map>
              </div>
              <i tooltip="ປ່ຽນຈຸດທີ່ຕັ້ງ" class="fa fa-edit editLocation" (click)="checkEditLocation=true"></i>
              <div class="text-right saveLocationButton" *ngIf="checkEditLocation">
                  <button tooltip="ບັນທືກຈຸດທີ່ຕັ້ງໃໝ່" type="button" class="btn btn-primary btn-sm" (click)="updateLocation()"><i class="fa fa-save"></i></button>
                  <button tooltip="ຍົກເລີກ" type="button" class="btn btn-danger btn-sm" (click)="cancelLocation()"><i class="fa fa-close"></i></button>
              </div>
              <button tooltip="ເລືອກຈຸດທີ່ຕັ້ງປະຈຸບັນ" type="button" class="btn btn-success btn-round" *ngIf="checkEditLocation" (click)="setCurrentLocationLatLong()"><i class="fa fa-map-marker"></i></button>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12 col-xs-12">
                <h4><strong>ລາຍລະອຽດ:</strong></h4>
                <p *ngIf="!checkEditDetail">
                  <span style="font-size: 16px;"> {{tour_company['about']}}</span>
                  <i tooltip="ແກ້ໄຂລາຍລະອຽດ" class="fa fa-edit editIcon" (click)="viewEditDetail()"></i>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditDetail">
                <form novalidate [formGroup]="updateDetailForm" (ngSumit)="updateDetail()">
                  <textarea class="textarea" placeholder="ລາຍລະອຽດ" formControlName="com_detail"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                  <div class="text-right">
                      <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> ບັນທຶກ</button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="checkEditDetail=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                  </div>
                </form>
            </div>

            <!-- Video Update -->
            <div class="col-lg-12 col-xs-12">
              <h4><strong>ວີດີໂອ:</strong></h4>
              <div *ngIf="checkEditVideo">
                <form novalidate [formGroup]="updateVideoForm" (ngSubmit)="updateVideo()">
                  <table class="table table-condensed">
                    <tr>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" id="com_video" formControlName="com_video" placeholder="Youtube ວີດີໂອ URL">
                        </div>
                        <ul class="error-message-one" *ngIf="updateVideoForm.controls['com_video'].errors && updateVideoForm.controls['com_video'].dirty">
                          <li [hidden]="!updateVideoForm.controls['com_video'].hasError('required')">ວີດີໂອ URL ຫ້າມວ່າງ</li>
                          <li [hidden]="!updateVideoForm.controls['com_video'].hasError('url')">(https://www.youtube.com/...)</li>
                        </ul>
                      </td>
                      <td style="width: 10px">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                      </td>
                      <td style="width: 10px">
                          <button type="button" class="btn btn-danger" (click)="cancelVideo()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
            <div class="col-lg-12 col-xs-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]="safeVideoUrl()"
                        frameborder="0" allowfullscreen *ngIf="safeVideoUrl()"></iframe>
              </div>
              <i tooltip="ແກ້ໄຂວີດີໂອ" class="fa fa-edit editLocation" *ngIf="!checkEditVideo" (click)="viewEditVideo()"></i>
            </div>
            <!-- Video Update -->

            <!-- Contact update -->
            <div class="col-lg-12 col-xs-12">
                <h4>
                  <strong>ຂໍ້ມູນຕິດຕໍ່:</strong>
                  <i 
                    tooltip="ແກ້ໄຂຂໍ້ມູນຕິດຕໍ່" 
                    class="fa fa-edit editIcon" 
                    *ngIf="!checkEditContact" 
                    (click)="viewEditContact()">
                  </i>
                </h4>
              <div class="row" *ngIf="!checkEditContact">
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <p>ເບີໂທ:</p>
                  <p><strong>{{tour_company['tel']?tour_company['tel']:'(ບໍ່ມີເບີໂທ)'}}</strong></p>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <p>ອີເມວ:</p>
                  <p><strong>{{tour_company['email']?tour_company['email']:'(ບໍ່ມີອີເມວ)'}}</strong></p>
                </div>
              </div>

              <div *ngIf="checkEditContact">
                <form [formGroup]="updateContactForm" (ngSubmit)="updateContact()">
                  <table class="table table-condensed">
                    <tr>
                      <td>
                          <div class="form-group">
                              <input type="text" class="form-control" id="com_tel" formControlName="com_tel" placeholder="ເບີໂທ">
                          </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="com_email" formControlName="com_email" placeholder="ອີເມວ">
                        </div>
                      </td>
                      <td style="width: 10px;">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                      </td>
                      <td style="width: 10px;">
                        <button type="button" class="btn btn-danger" (click)="checkEditContact=false"><i class="fa fa-close"></i></button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
            <!-- Contact update -->

          </div>
      </div>
      
      <!-- /.box-footer -->
      <div class="box-footer">
          <div class="row">
              <div class="col-lg-12 col-xs-12">
                  <h4><strong>ສື່ອອນໄລຕ່າງໆ:</strong></h4>
              </div>
              <div class="col-lg-12 col-xs-12">
                <div class="row" *ngIf="!checkEditSocial">
                  <div class="col-lg-12 col-xs-12">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let social of tour_company['socials']; let i=index">
                        <div class="small-box">
                          <div class="box-header">
                            <p><a href="{{social['url']}}" target="_blank"><span style="font-size: 16px;">{{social['name']}}</span></a></p>
                            <div class="box-tools">
                                <i class="fa fa-edit editIcon" (click)="viewEditSocial(i, social)"></i>
                                <i class="fa fa-close closeIcon" (click)="deleteSocial(i, social)"></i>
                            </div>
                            <div>
                                  <strong>{{social['url']}}</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12 text-right" *ngIf="!checkAddSocial">
                      <a tooltip="ເພີ່ມສື່ອອນໄລ" href="javascript:event" class="color-green" (click)="checkAddSocial=true"><i class="fa fa-plus"></i> ເພີ່ມສື່</a>
                  </div>
                  <div class="col-lg-12 col-xs-12" *ngIf="checkAddSocial">
                    <form novalidate [formGroup]="addNewSocialForm" (ngSubmit)="saveNewSocial()">
                      <p><strong>ເພີ່ມສື່ອອນໄລ</strong></p>
                      <table class="table table-condensed">
                        <tr>
                          <td>
                              <div class="form-group">
                                  <input type="text" class="form-control input-sm" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" formControlName="url" placeholder="URL">
                            </div>
                          </td>
                          <td style="width: 10px;">
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i></button>
                          </td>
                          <td style="width: 10px;">
                            <button type="button" class="btn btn-danger btn-sm" (click)="checkAddSocial=false"><i class="fa fa-close"></i></button>
                          </td>
                        </tr>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="checkEditSocial">
                  <form novalidate [formGroup]="updateSocailForm" (ngSubmit)="updateSocial()">
                    <h4><strong>ແກ້ໄຂ</strong></h4>
                    <table class="table table-condensed">
                      <tr>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                            </div>
                        </td>
                        <td>
                          <div class="form-group">
                              <input type="text" class="form-control" formControlName="url" placeholder="URL">
                          </div>
                        </td>
                        <td style="width: 10px;">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                        </td>
                        <td style="width: 10px;">
                          <button type="button" class="btn btn-danger" (click)="checkEditSocial=false"><i class="fa fa-close"></i></button>
                        </td>
                      </tr>
                    </table>
                  </form>
              </div>
              <div class="col-lg-12 col-xs-12 text-center" *ngIf="tour_company['published']">
                  <a href="javascript:event" class="closeIcon" style="font-size: 16px;" (click)="deleteCompany()"><i class="fa fa-trash"></i> ລົບຂໍ້ມູນທັງໝົດ</a>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="!tour_company['published']">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <a href="javascript:event" class="btn btn-danger" style="font-size: 16px;" (click)="deleteCompany()"><i class="fa fa-trash"></i> ລົບຂໍ້ມູນທັງໝົດ</a>
                    </div>
                    <div class="col-lg-6 col-xs-6 text-right">
                      <button type="button" class="btn btn-success" *ngIf="!checkPublished()"><i class="fa fa-thumbs-up"></i> ສົ່ງຂໍ້ມູນໄປກວດສອບ</button>
                      <span *ngIf="checkPublished()">
                        <button type="button" class="btn btn-success"><i class="fa fa-thumbs-up"></i> ຂໍ້ມູນຖືກຕ້ອງແລ້ວ</button>
                        <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> ຂໍ້ມູນຍັງບໍ່ຖືກຕ້ອງ</button>
                      </span>
                    </div>
                </div>
              </div>
            </div>
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<!-- Crom image dialog -->
<div class="image-cropper-view" *ngIf="cropImageChecked">
    <div class="text-center">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="text-center">
      <label style="width: 800px;">
        <div class="text-right">
          <button type="button" class="btn btn-danger" (click)="cancelCrop()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
          <button type="button" class="btn btn-success" (click)="croppedImage()"><i class="fa fa-save"></i> ບັນທຶກ</button>
        </div>
      </label>
    </div>
  </div>
  <!-- Crom image dialog -->


<!-- Upload image dialog *ngIf="uploadImageChecked" -->
<div class="upload-box" *ngIf="uploadImageChecked">
    <div class="box-revers-background"></div>
    <div class="box box-widget uppload-detail">
      <div class="box-body">
        <div class="clearfix">
          <span class="pull-left">ອັບໂຫຼດແລ້ວ</span>
          <small class="pull-right">{{uploadPercent | number:'1.0-0'}}%</small>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-green" [ngStyle]="{width: uploadPercent + '%'}"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Upload image dialog -->
  
  <!-- Saving icon -->
    <div class="save-box" *ngIf="savingChecked">
      <div class="box-revers-background"></div>
      <div class="box box-widget bg-blue save-detail">
        <div class="box-body text-center">
            <i class="fa fa-save"></i>
            <strong>ກຳລັງບັນທືກ...</strong>
        </div>
      </div>
    </div>
  <!-- Saving icon -->
  
  <!-- Saved icon -->
  <div class="save-box" *ngIf="savedChecked">
      <div class="box-revers-background"></div>
    <div class="box box-widget bg-green save-detail">
      <div class="box-body text-center">
          <i class="fa fa-check"></i>
          <strong>ບັນທືກແລ້ວ</strong>
      </div>
    </div>
  </div>
  <!-- Saved icon -->