<div class="row">
    <div class="col-lg-push-1 col-lg-10 col-xs-12">
      <!-- Box Comment -->
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <img class="img-circle" src="assets/img/user8-128x128.jpg" alt="User Image">
            <span class="username">ສົມແກ້ວ ສີວົງສາ</span>
            <span class="description">ພະນັກງານ IT</span>
          </div>
          <!-- /.user-block -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12">
              <!-- <h3><strong>ປະຫວັດຈັດການຂໍ້ມູນ</strong></h3>
              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div> -->
              <!-- Custom tabs (Charts with tabs)-->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a href="#login_out" data-toggle="tab">ເຂົ້າອອກລະບົບ</a></li>
                  <li><a href="#sales-chart" data-toggle="tab">ຈັດການຂໍ້ມູນ</a></li>
                  <li class="pull-left header"><i class="fa fa-history"></i> ປະຫວັດ</li>
                </ul>
                <div class="tab-content no-padding">
                  <div class="tab-pane active" id="login_out">
                    <div class="row">
                      <div class="col-lg-5 col-md-5 col-xs-12">
                        <div class="box">
                          <div class="box-header">
                            <h3 class="box-title"><strong>ເຂົ້າສູ່ລະບົບ</strong></h3>
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body no-padding">
                            <table class="table table-condensed">
                              <tr>
                                <th style="width: 60px">ລຳດັບ</th>
                                <th>ວັນທີ່</th>
                                <th>ເວລາ</th>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>2018-3-30</td>
                                <td>08:30</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>2018-3-31</td>
                                <td>08:30</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>2018-4-1</td>
                                <td>09:40</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-xs-12">
                          <div class="box">
                            <div class="box-header">
                              <h3 class="box-title"><strong>ອອກຈາກລະບົບ</strong></h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                              <table class="table table-condensed">
                                <tr>
                                  <th style="width: 60px">ລຳດັບ</th>
                                  <th>ວັນທີ່</th>
                                  <th>ເວລາ</th>
                                  <th>ອອກໂດຍ</th>
                                </tr>
                                <tr>
                                  <td>1</td>
                                  <td>2018-3-30</td>
                                  <td>17:30</td>
                                  <td>ເຈົ້າຂອງເອງ</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>2018-4-1</td>
                                  <td>09:30</td>
                                  <td>Session ໝົດອາຍຸ</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>2018-4-1</td>
                                  <td>17:30</td>
                                  <td>ເຈົ້າຂອງເອງ</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- /.box-footer -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>