<div class="row">
    <div class="col-lg-push-9 col-lg-3 col-md-push-8 col-md-4 col-sm-push-7 col-sm-5 col-xs-push-6 col-xs-6">
        <div class="input-group" style="margin-bottom: 10px;">
            <input type="text" class="form-control input-sm" placeholder="Search...">
            <span class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-flat btn-sm"><i class="fa fa-search"></i>
            </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-orange">
        <div class="box-header">
            <h4 class="box-title" style="color: white;"><strong>ບໍລິສັດວຽງຈັນນຳທ່ຽວ</strong></h4>
            <div class="box-tools" style="color: white;">
                <i class="fa fa-check"></i>
            </div>
        </div>
        <div class="inner">
            <img src="assets/img/photo2.png" alt="" style="width: 100%;">
            <p>ບ້ານທາດຫຼວງ ເມືອງໄຊເສດຖາ ນະຄອນຫຼວງວຽງຈັນ</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a [routerLink]="['/dashboard','company','detail','kdjfkjslkeijkdjkfjkd']" class="small-box-footer"><strong>ຂໍ້ມູນເພີ່ມເຕີມ</strong> <i class="fa fa-arrow-circle-right"></i></a>
      </div>
  </div>
</div>