<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a>
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"> Shelter</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/dashboard','shelter']"><i class="fa fa-hotel"></i> ສະຖານທີ່ພັກແຮມ</a></li>
          <li><a [routerLink]="['insert']"><i class="fa fa-plus"></i> ເພີ່ມສະຖານທີ່ພັກແຮມ</a></li>
          <li><a [routerLink]="['type']"><i class="fa fa-edit"></i> ປະເພດສະຖານທີ່ພັກແຮມ</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
  </section>
  <!-- Main content -->
</div>
  