<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <a [routerLink]="['/dashboard']">Dashboard</a>
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"> Transportation</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      <div class="row">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/dashboard','transportation']"><i class="fa fa-bus"></i> ສະຖານີຂົນສົ່ງໂດຍສານ</a></li>
            <li><a [routerLink]="['insert']"><i class="fa fa-plus"></i> ເພີ່ມສະຖານີຂົນສົ່ງໂດຍສານ</a></li>
            <li><a [routerLink]="['type']"><i class="fa fa-edit"></i> ປະເພດສະຖານີຂົນສົ່ງໂດຍສານ</a></li>
          </ul>
      </div>
      <router-outlet></router-outlet>
    </section>
    <!-- Main content -->
</div>
  