<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="300" [showSpinner]="true" [direction]="'leftToRightIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="row">
    <div class="col-lg-push-2 col-lg-8 col-md-push-1 col-md-10 col-xs-12">
      <!-- Box Comment -->
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="row" *ngIf="checkEditProfile">
              <div class="col-lg-12 col-xs-12">
                <h4 class="text-center"><strong>ແກ້ໄຂຮູບ</strong></h4>
                  <div class="small-box">
                    <div class="box-header">
                      <div class="form-group">
                        <label for="res_images">ເພີ່ມຮູບ</label>
                        <input type="file" accept="image/*" id="res_images" (change)="fileChangeListener($event)">
                      </div>
                      <div class="box-tools"><a href="javascript:event" class="closeIcon" (click)="checkEditProfile=false">ຍົກເລີກ</a></div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let image of transportation['images']; let i=index">
                        <div class="small-box">
                          <div class="box-header">
                            <div class="box-tools"><i tooltip="ລົບ" class="fa fa-close closeIcon" (click)="deleteImage(i, image)"></i></div>
                          </div>
                          <div class="inner">
                            <img [src]="getImage(image)" alt="image {{i}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row" *ngIf="!checkEditProfile">
            <div class="col-lg-12 col-xs-12">
              <img [src]="getImage(transportation['images'][0])" alt="Photo 2" *ngIf="transportation['images']">
              <i tooltip="ແກ້ໄຂຮູບ" class="fa fa-edit editProfile" (click)="checkEditProfile=true"></i>
            </div>
          </div>
          <!-- /.user-block -->
          <div class="row">
              <div class="col-lg-12 col-xs-12" *ngIf="!checkEditName">
                  <h3>
                    <strong tooltip="ຊື່ສະຖານີໂດຍສານ">{{transportation['name']}}</strong> 
                    <span style="font-size: 16px;">
                      (<span class="help-text"> ສະຖານີຂົນສົ່ງໂດຍສານ </span>)
                    </span> <i tooltip="ແກ້ໄຂຊື່ສະຖານີ" class="fa fa-edit editIcon" (click)="viewEditName()"></i>
                  </h3>
                  <p>
                    <span tooltip="ປະເພດສະຖານີໂດຍສານ" style="color: rgb(206, 205, 205);" *ngIf="transportation['transportation_type']">{{transportation['transportation_type']['name']}}</span>
                  </p>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="checkEditName">
                <h4 class="text-center"><strong>ແກ້ໄຂຊື່ສະຖານີໂດຍສານ</strong></h4>
                <form novalidate [formGroup]="updateTittleForm" (ngSubmit)="updateTitle()">
                  <table class="table table-condensed">
                    <tr>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" id="tran_name" formControlName="tran_name" placeholder="ຊື່ສະຖານີຂົນສົ່ງໂດຍສານ">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <select class="form-control select2" id="tran_type" formControlName="tran_type" style="width: 100%;">
                              <option *ngFor="let type of transportation_types" value="{{type['_id']}}">{{type['name']}}</option>
                          </select>
                        </div>
                      </td>
                      <td style="width: 10px">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                      </td>
                      <td style="width: 10px">
                          <button type="button" class="btn btn-danger" (click)="checkEditName=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                  <h4><strong>ທີ່ຢູ່:</strong></h4>
                  <p *ngIf="!checkEditAddress">
                    <span style="font-size: 16px;">
                        ບ້ານ{{transportation['address']['village']}} 
                        ເມືອງ{{transportation['address']['district']['district']}} 
                        ແຂວງ{{transportation['address']['district']['province']['province']}}
                    </span> 
                    <i tooltip="ແກ້ໄຂທີ່ຢູ່" class="fa fa-edit editIcon" (click)="viewEditAddress()"></i>
                  </p>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="checkEditAddress">
                  <form novalidate [formGroup]="updateAddressForm" (ngSubmit)="updateAddress()">
                    <table class="table table-condensed">
                      <tr>
                        <td>
                          <select class="form-control select2" id="tran_province" formControlName="tran_province" style="width: 100%;" (change)="changeDistrict()">
                              <option *ngFor="let province of provinces; let i=index" value="{{province._id}}"><span>{{province.province}}</span></option>
                          </select>
                        </td>
                        <td>
                          <select class="form-control select2" id="tran_district" formControlName="tran_district" style="width: 100%;" (change)="changeVillage()">
                              <option *ngFor="let district of districts; let j=index" value="{{district._id}}"><span>{{district.district}}</span></option>
                          </select>
                        </td>
                        <td>
                          <input 
                                type="text" 
                                class="form-control" 
                                id="tran_village" 
                                ngui-auto-complete
                                [source]="villages"
                                z-index="4"
                                formControlName="tran_village"
                                placeholder="ບ້ານ">
                        </td>
                        <td style="width: 10px">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                        </td>
                        <td style="width: 10px">
                            <button type="button" class="btn btn-danger" (click)="checkEditAddress=false"><i class="fa fa-close"></i></button>
                        </td>
                      </tr>
                    </table>
                  </form>
              </div>
  
              <div class="col-lg-12 col-xs-12">
                <div class="map">
                  <agm-map 
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="true"
                    (mapClick)="changeLocation($event)">
                    
                    <agm-marker 
                        [latitude]="lat" 
                        [longitude]="lng" 
                        [label]="label">
                      </agm-marker>
  
                  </agm-map>
                </div>
                <i tooltip="ປ່ຽນຈຸດທີ່ຕັ້ງ" class="fa fa-edit editLocation" (click)="checkEditLocation=true"></i>
                <div class="text-right saveLocationButton" *ngIf="checkEditLocation">
                  <button tooltip="ບັນທືກຈຸດທີ່ຕັ້ງໃໝ່" type="button" class="btn btn-primary btn-sm" (click)="updateLocation()"><i class="fa fa-save"></i></button>
                  <button tooltip="ຍົກເລີກ" type="button" class="btn btn-danger btn-sm" (click)="cancelLocation()"><i class="fa fa-close"></i></button>
                </div>
                <button type="button" class="btn btn-success btn-round" *ngIf="checkEditLocation" (click)="setCurrentLocationLatLong()"><i class="fa fa-map-marker"></i></button>
              </div>
  
            </div>
            <div class="row">
              <!-- Detail Update -->
              <div class="col-lg-12 col-xs-12">
                  <h4><strong>ລາຍລະອຽດ:</strong></h4>
                  <p *ngIf="!checkEditDetail">
                    <span style="font-size: 16px;"> {{restaurant['detail']}}</span> 
                    <i tooltip="ແກ້ໄຂລາຍລະອຽດ" class="fa fa-edit editIcon" (click)="viewEditDetail()"></i>
                  </p>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="checkEditDetail">
                  <form novalidate [formGroup]="updateDetailForm" (ngSubmit)="updateDetail()">
                    <textarea class="textarea" placeholder="ລາຍລະອຽດ" formControlName="tran_detail"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> ບັນທຶກ</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="checkEditDetail=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                    </div>
                  </form>
              </div>
              <!-- Detail Update -->

              <!-- Video Update -->
              <div class="col-lg-12 col-xs-12">
                <h4><strong>ວີດີໂອ:</strong></h4>
                <div *ngIf="checkEditVideo">
                  <form novalidate [formGroup]="updateVideoForm" (ngSubmit)="updateVideo()">
                    <table class="table table-condensed">
                      <tr>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control" id="tran_video" formControlName="tran_video" placeholder="ວີດີໂອ URL">
                          </div>
                        </td>
                        <td style="width: 10px">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                        </td>
                        <td style="width: 10px">
                            <button type="button" class="btn btn-danger" (click)="cancelVideo()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>
              <div class="col-lg-12 col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" [src]="safeVideoUrl()"
                          frameborder="0" allowfullscreen *ngIf="safeVideoUrl()"></iframe>
                </div>
                <i tooltip="ແກ້ໄຂວີດີໂອ" class="fa fa-edit editLocation" *ngIf="!checkEditVideo" (click)="checkEditVideo=true"></i>
              </div>
              <!-- Video Update -->

              <div class="col-lg-12 col-xs-12">
                <h4>
                  <strong>ຂໍ້ມູນຕິດຕໍ່:</strong> 
                  <i 
                    tooltip="ແກ້ໄຂຂໍ້ມູນຕິດຕໍ່" 
                    class="fa fa-edit editIcon" 
                    *ngIf="!checkEditContact" 
                    (click)="viewEditContact()">
                  </i>
                </h4>
                <div class="row" *ngIf="!checkEditContact">
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <p>ເບີໂທ:</p>
                    <p><strong>{{transportation['tel']}}</strong></p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <p>ອີເມວ:</p>
                    <p><strong>{{transportation['email']}}</strong></p>
                  </div>
                </div>
  
                <div *ngIf="checkEditContact">
                  <form [formGroup]="updateContactForm" (ngSubmit)="updateContact()">
                    <table class="table table-condensed">
                      <tr>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="tran_tel" formControlName="tran_tel" placeholder="ເບີໂທ">
                            </div>
                        </td>
                        <td>
                          <div class="form-group">
                              <input type="text" class="form-control" id="tran_email" formControlName="tran_email" placeholder="ອີເມວ">
                          </div>
                        </td>
                        <td style="width: 10px;">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                        </td>
                        <td style="width: 10px;">
                          <button type="button" class="btn btn-danger" (click)="checkEditContact=false"><i class="fa fa-close"></i></button>
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>

              <!-- Service block -->
              <div class="col-lg-12 col-xs-12">
                  <h3><strong>ບໍລິການທັງໝົດ:</strong></h3>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="!checkUpdateService">
                <div class="box">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12" *ngFor="let service of transportation['services']; let i=index;">
                        <div class="box box-success">
                          <div class="box-header">
                            <div class="box-title">
                              <strong>{{i + 1}}. {{service['vehicle']}}</strong>
                            </div>
                            <div class="box-tools"><i class="fa fa-edit editIcon" (click)="viewEditService(i, service)"></i> <i class="fa fa-close closeIcon"></i></div>
                          </div>
                          <div class="box-body">
                            <table class="table table-condensed">
                              <tr>
                                <th>ລຳດັບ</th>
                                <th>ຕົ້ນທາງ</th>
                                <th>ປາຍທາງ</th>
                                <th>ລາຄາ</th>
                              </tr>
                              <tr *ngFor="let distance of service['distances']; let j=index;">
                                <td>{{j + 1}}</td>
                                <td>
                                  <p>{{distance['from']}}</p>
                                </td>
                                <td>
                                  <p>{{distance['to']}}</p>
                                </td>
                                <td>
                                  <p>{{distance['price']}}</p>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12 col-xs-12 text-right" *ngIf="!checkAddService">
                          <a tooltip="ເພີ່ມບໍລິການໃໝ່" href="javascript:event" class="color-green" (click)="checkAddService=true"><i class="fa fa-plus"></i> ເພີ່ມບໍລິການ</a>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <!-- Add new service row -->
                <div class="col-lg-12 col-xs-12" *ngIf="checkAddService">
                  <div class="box box-widget box-border">
                    <div class="box-header with-border">
                      <p class="box-title"><strong>ເພີ່ມບໍລິການໃໝ່</strong></p>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <form novalidate [formGroup]="addNewServiceForm" (ngSubmit)="saveNewService()">
                        <div class="form-group">
                          <span>ຍານພາຫະນະບໍລິການ</span>
                          <input 
                              type="text" 
                              class="form-control" 
                              id="service_name" 
                              formControlName="service_name" 
                              placeholder="ຍານພາຫະນະບໍລິການ">
                        </div>
                        <div class="row">
                          <div class="col-lg-push-1 col-lg-11 col-md-push-1 col-md-11 col-sm-push1 col-sm-11 col-xs-push-1 col-xs-11">
                            <h4><strong>ໄລຍະທາງ</strong></h4>
                          </div>
                          <div class="col-lg-push-1 col-lg-11 col-md-push-1 col-md-11 col-sm-push1 col-sm-11 col-xs-push-1 col-xs-11">
                            <div class="box box-success box-border">
                              <div class="box-body">
                                <table class="table table-condensed" formArrayName="distances" *ngIf="getDistanceLength()">
                                  <tr>
                                    <th style="width: 10px">ລຳດັບ</th>
                                    <th>ຕົ້ນທາງ</th>
                                    <th>ປາຍທາງ</th>
                                    <th>ລາຄາ</th>
                                    <th style="width: 10px">ລົບ</th>
                                  </tr>
                                  <tr *ngFor="let distance of addNewServiceForm.get('distances').controls; let j=index"
                                      [formGroup]="distance">
                                    <td>{{j + 1}}</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-sm" id="from" formControlName="from" placeholder="ຕົ້ນທາງ">
                                        </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                          <input type="text" class="form-control input-sm" id="to" formControlName="to" placeholder="ປາຍທາງ">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                          <input type="number" class="form-control input-sm" id="price" formControlName="price" placeholder="ລາຄາ">
                                      </div>
                                    </td>
                                    <td>
                                      <button type="button" class="btn btn-danger btn-sm" (click)="removeDistance(j)"><i class="fa fa-minus"></i></button>
                                    </td>
                                  </tr>
                                </table>
                                  <div class="text-right">
                                    <a href="javascript:event" class="color-green" (click)="addNewDistance()"><i class="fa fa-plus"></i> ເພີ່ມ</a>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-right">
                          <button type="reset" class="btn btn-danger" (click)="checkAddService=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Add new service row -->
              </div>
              <!-- Service block -->
            </div>
        </div>
        
        <!-- /.box-footer -->
        <div class="box-footer">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <h4><strong>ສື່ອອນໄລຕ່າງໆ:</strong></h4>
                </div>
                <div class="col-lg-12 col-xs-12">
                  <div class="row" *ngIf="!checkEditSocial">
                    <div class="col-lg-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let social of transportation['socials']; let i=index">
                          <div class="small-box">
                            <div class="box-header">
                              <p><a href="{{social['url']}}" target="_blank"><span style="font-size: 16px;">{{social['name']}}</span></a></p>
                              <div class="box-tools">
                                  <i class="fa fa-edit editIcon" (click)="viewEditSocial(i, social)"></i>
                                  <i class="fa fa-close closeIcon" (click)="deleteSocial(i, social)"></i>
                              </div>
                              <div>
                                    <strong>{{social['url']}}</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 text-right" *ngIf="!checkAddSocial">
                        <a tooltip="ເພີ່ມສື່ອອນໄລ" href="javascript:event" class="color-green" (click)="checkAddSocial=true"><i class="fa fa-plus"></i> ເພີ່ມສື່</a>
                    </div>
                    <div class="col-lg-12 col-xs-12" *ngIf="checkAddSocial">
                      <form novalidate [formGroup]="addNewSocialForm" (ngSubmit)="saveNewSocial()">
                        <p><strong>ເພີ່ມສື່ອອນໄລ</strong></p>
                        <table class="table table-condensed">
                          <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                                </div>
                            </td>
                            <td>
                              <div class="form-group">
                                  <input type="text" class="form-control input-sm" formControlName="url" placeholder="URL">
                              </div>
                            </td>
                            <td style="width: 10px;">
                              <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i></button>
                            </td>
                            <td style="width: 10px;">
                              <button type="button" class="btn btn-danger btn-sm" (click)="checkAddSocial=false"><i class="fa fa-close"></i></button>
                            </td>
                          </tr>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xs-12" *ngIf="checkEditSocial">
                    <form novalidate [formGroup]="updateSocailForm" (ngSubmit)="updateSocial()">
                      <h4><strong>ແກ້ໄຂ</strong></h4>
                      <table class="table table-condensed">
                        <tr>
                          <td>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="name" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="url" formControlName="url" placeholder="URL">
                            </div>
                          </td>
                          <td style="width: 10px;">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                          </td>
                          <td style="width: 10px;">
                            <button type="button" class="btn btn-danger" (click)="checkEditSocial=false"><i class="fa fa-close"></i></button>
                          </td>
                        </tr>
                      </table>
                    </form>
                </div>
                <div class="col-lg-12 col-xs-12 text-center" *ngIf="transportation['published']">
                    <a href="javascript:event" class="closeIcon" style="font-size: 16px;" (click)="deleteTransportation()"><i class="fa fa-trash"></i> ລົບຂໍ້ມູນທັງໝົດ</a>
                </div>
                <div class="col-lg-12 col-xs-12" *ngIf="!transportation['published']">
                  <div class="row">
                      <div class="col-lg-6 col-xs-6">
                          <a href="javascript:event" class="btn btn-danger" style="font-size: 16px;" (click)="deleteTransportation()"><i class="fa fa-trash"></i> ລົບຂໍ້ມູນທັງໝົດ</a>
                      </div>
                      <div class="col-lg-6 col-xs-6 text-right">
                        <button type="button" class="btn btn-success" *ngIf="!checkPublished()"><i class="fa fa-thumbs-up" (click)="sendNotification()"></i> ສົ່ງຂໍ້ມູນໄປກວດສອບ</button>
                        <span *ngIf="checkPublished()">
                          <button type="button" class="btn btn-success"><i class="fa fa-thumbs-up"></i> ຂໍ້ມູນຖືກຕ້ອງແລ້ວ</button>
                          <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> ຂໍ້ມູນຍັງບໍ່ຖືກຕ້ອງ</button>
                        </span>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  
<div class="update-box"  *ngIf="checkUpdateService">
  <div class="box-revers-background"></div>
  <div class="update-box-detail">
    <div class="box box-widget box-border">
      <div class="box-header with-border">
        <p class="box-title"><strong>ແກ້ໄຂບໍລິການ</strong></p>
        <div class="box-tools">
          <i class="fa fa-close closeIcon" (click)="checkUpdateService=false"></i>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
          <h3 *ngIf="!checkEditService">
              <strong>{{i + 1}}. {{update_service['vehicle']}}</strong>
              <i tooltip="ແກ້ໄຂ" class="fa fa-edit editIcon" (click)="viewUpdateService()"></i>
          </h3>
          <table class="table table-condensed" *ngIf="checkEditService">
            <tr>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control input-sm" [(ngModel)]="service_name" placeholder="ຍານພາຫະນະບໍລິການ">
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="updateService()"><i class="fa fa-save"></i></button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="checkEditService=false"><i class="fa fa-close"></i></button>
              </td>
            </tr>
          </table>
          <div class="row">
            <div class="col-lg-push-1 col-lg-11 col-md-push-1 col-md-11 col-sm-push1 col-sm-11 col-xs-push-1 col-xs-11">
              <h4><strong>ໄລຍະທາງ</strong></h4>
            </div>
            <div class="col-lg-push-1 col-lg-11 col-md-push-1 col-md-11 col-sm-push1 col-sm-11 col-xs-push-1 col-xs-11">
              <div class="box box-success box-border">
                <div class="box-body scrollbar">
                  <table class="table table-condensed">
                    <tr>
                      <th>ລຳດັບ</th>
                      <th>ຕົ້ນທາງ</th>
                      <th>ປາຍທາງ</th>
                      <th>ລາຄາ</th>
                      <th style="width: 40px;"></th>
                      <th style="width: 40px;"></th>
                    </tr>
                    <tr *ngFor="let dtance of update_service['distances']; let j=index;">
                      <td>{{j + 1}}</td>
                      <td>
                        <p *ngIf="!checkEditDistances[j]">{{dtance['from']}}</p>
                        <div class="form-group" *ngIf="checkEditDistances[j]">
                          <input type="text" class="form-control input-sm" [(ngModel)]="distance['from']" placeholder="ຕົ້ນທາງ">
                        </div>
                      </td>
                      <td>
                        <p *ngIf="!checkEditDistances[j]">{{dtance['to']}}</p>
                        <div class="form-group" *ngIf="checkEditDistances[j]">
                          <input type="text" class="form-control input-sm" [(ngModel)]="distance['to']" placeholder="ປາຍທາງ">
                        </div>
                      </td>
                      <td>
                        <p *ngIf="!checkEditDistances[j]">{{dtance['price']}}</p>
                        <div class="form-group" *ngIf="checkEditDistances[j]">
                          <input type="text" class="form-control input-sm" [(ngModel)]="distance['price']" placeholder="ລາຄາ">
                        </div>
                      </td>
                      <td>
                        <button type="button" class="btn btn-success" *ngIf="!checkEditDistances[i]" (click)="viewUpdateDistance(j, dtance)"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-primary" *ngIf="checkEditDistances[i]" (click)="updateDistance(i)"><i class="fa fa-save"></i></button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" *ngIf="!checkEditDistances[i]" (click)="deleteDistance(i, type._id)"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-danger" *ngIf="checkEditDistances[i]" (click)="checkEditDistances[i]=false"><i class="fa fa-close"></i></button>
                      </td>
                    </tr>
                  </table>
                  <div class="text-right" *ngIf="!checkAddDistance">
                    <a href="javascript:event" class="color-green" (click)="checkAddDistance=true"><i class="fa fa-plus"></i> ເພີ່ມ</a>
                  </div>
                  <div *ngIf="checkAddDistance">
                    <form novalidate [formGroup]="addNewDistanceForm" (ngSubmit)="saveNewDistance()">
                      <table class="table table-condensed">
                        <tr>
                          <td>
                            <div class="form-group">
                              <span>ຕົ້ນທາງ</span>
                              <input type="text" class="form-control input-sm" formControlName="from" placeholder="ຕົ້ນທາງ">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <span>ປາຍທາງ</span>
                              <input type="text" class="form-control input-sm" formControlName="to" placeholder="ປາຍທາງ">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <span>ລາຄາ</span>
                              <input type="text" class="form-control input-sm" formControlName="price" placeholder="ລາຄາ">
                            </div>
                          </td>
                          <td style="width: 40px;">
                            <button type="submit" class="btn btn-primary" (click)="updateDistance(i)"><i class="fa fa-save"></i></button>
                          </td>
                          <td style="width: 40px;">
                            <button type="reset" class="btn btn-danger" (click)="checkEditDistances=false"><i class="fa fa-close"></i></button>
                          </td>
                        </tr>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

  <!-- Crom image dialog -->
  <div class="image-cropper-view" *ngIf="cropImageChecked">
      <div class="text-center">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
      </div>
      <div class="text-center">
        <label style="width: 800px;">
          <div class="text-right">
            <button type="button" class="btn btn-danger" (click)="cancelCrop()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
            <button type="button" class="btn btn-success" (click)="croppedImage()"><i class="fa fa-save"></i> ບັນທຶກ</button>
          </div>
        </label>
      </div>
    </div>
    <!-- Crom image dialog -->
    