.closeIcon {
    color: red;
    cursor: pointer;
}
.closeIcon:hover {
    color: tomato;
}
.editIcon{
    font-size: 16px;
    cursor: pointer;
}
.editIcon:hover{
    color: blue;
}
.table-margin {
    margin: 0px 0px 1px 0px;
    padding: 0px;
}

.ng-valid.ng-dirty.ng-touched{
    border-color: blue;
  }
  .ng-dirty.ng-invalid.ng-touched {
    border-color: red
  }
  
  .ng-pristine.ng-invalid.ng-touched{
    border-color: red;
  }

.color-green{
    color: green;
}
.color-green:hover{
    cursor: pointer;
    color: blue;
}