<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="300" [showSpinner]="true" [direction]="'leftToRightIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="row" *ngIf="users.length">
  <!-- /.col -->
  <div class="col-md-4 col-sm-2 col-xs-12" *ngFor="let user of users; let i=index">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header {{checkPermission(user['permission'])?'bg-blue':'bg-orange'}}">
          <!-- <i class="fa fa-close closeIcon" *ngIf="test == 5"></i> -->
        <div class="widget-user-image">
          <img class="img-circle" [src]="user['profile']?getImage(user['profile']):'assets/img/ic_user.jpg'" alt="User profile" (click)="navigateUserDetail(user['_id'])">
        </div>
          <!-- /.widget-user-image -->
        <h3 class="widget-user-username"><span>{{user['name']}}</span></h3>
        <h5 class="widget-user-desc"><span>{{userPMS(user['permission'])}}</span></h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a [routerLink]="['/dashboard', 'user', 'detail', user['_id']]">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">{{user['logins'].length}} ຄັ້ງ</span></a></li>
          <li><a [routerLink]="['/dashboard', 'user', 'check',user['_id']]" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">{{user['managements']['_insert'].length}} ຄັ້ງ</span></a></li>
          <li><a [routerLink]="['/dashboard', 'user', 'check',user['_id']]" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">{{user['managements']['_update'].length}} ຄັ້ງ</span></a></li>
          <li><a [routerLink]="['/dashboard', 'user', 'check',user['_id']]" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">{{user['managements']['_delete'].length}} ຄັ້ງ</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
</div>