<div class="row">
  <!-- /.col -->
  <div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-blue">
          <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
        <div class="widget-user-image">
          <img class="img-circle" src="assets/img/user8-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
        </div>
          <!-- /.widget-user-image -->
        <h3 class="widget-user-username"><span>ສົມແກ້ວ ສີວົງສາ</span></h3>
        <h5 class="widget-user-desc"><span>ຫົວໜ້າໜ່ວຍງານ IT</span></h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
          <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
          <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
          <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ຄຳດີ ດວງພະຈັນ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user3-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ວິລະວັນ ວົງໄພຈິດ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ຄຳດີ ດວງພະຈັນ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user3-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ວິລະວັນ ວົງໄພຈິດ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ຄຳດີ ດວງພະຈັນ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user3-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ວິລະວັນ ວົງໄພຈິດ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ຄຳດີ ດວງພະຈັນ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user3-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ວິລະວັນ ວົງໄພຈິດ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ຄຳດີ ດວງພະຈັນ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user3-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ວິລະວັນ ວົງໄພຈິດ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ຄຳດີ ດວງພະຈັນ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-orange">
            <i class="fa fa-close closeIcon" *ngIf="test == 5"></i>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/img/user3-128x128.jpg" alt="User Avatar" (click)="navigateUserDetail('kjdkskkdjksdk')">
          </div>
            <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><span>ວິລະວັນ ວົງໄພຈິດ</span></h3>
          <h5 class="widget-user-desc"><span>ພະນັກງານ IT</span></h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a [routerLink]="['/dashboard', 'user', 'detail', 'kjkdjkjfkdjkskjdk']">ເຂົ້າໃຊ້ລະບົບ <span class="pull-right badge bg-aqua">31 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ad'}">ເພີ່ມຂໍ້ມູນ <span class="pull-right badge bg-blue">50 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'ed'}">ແກ້ໄຂຂໍ້ມູນ <span class="pull-right badge bg-green">12 ຄັ້ງ</span></a></li>
            <li><a [routerLink]="['check','kjdkjkskdjksjkd']" [queryParams]="{c:'de'}">ລົບຂໍ້ມູນ <span class="pull-right badge bg-red">8 ຄັ້ງ</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
</div>