<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="user-block">
          <img class="img-circle" [src]="user['profile']?getImage(user['profile']):'assets/img/ic_user.jpg'" alt="User Image">
          <span class="username">{{user['name']}}</span>
          <span class="description">{{userPMS(user['permission'])}}</span>
        </div>
        <h3><strong>ປະຫວັດ{{title}}</strong></h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-condensed">
          <tr>
            <th style="width: 60px">ລຳດັບ</th>
            <th>ວັນທີ່</th>
            <th>ເວລາ</th>
            <th>ຂໍ້ມູນ</th>
            <th>ຂໍ້ມູນທີ່{{command}}</th>
            <th>ລະຫັດ</th>
          </tr>
          <tr *ngFor="let data of checkDatas; let i=index;">
            <td>{{i + 1}}</td>
            <td>{{data['_date'] | date:'dd/MM/yyyy'}}</td>
            <td>{{data['_date'] | date:'HH:mm:ss'}}</td>
            <td>{{data['_detail']['data']}}</td>
            <td>{{data['_detail']['title']}}</td>
            <td>{{data['_detail']['id']}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
