<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="300" [showSpinner]="true" [direction]="'leftToRightIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="row">
  <div class="col-lg-push-2 col-lg-8 col-md-push-1 col-md-10 col-xs-12">
    <!-- Box Comment -->
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="row" *ngIf="checkEditProfile">
            <div class="col-lg-12 col-xs-12">
              <h4 class="text-center"><strong>ແກ້ໄຂຮູບ</strong></h4>
                <div class="small-box">
                  <div class="box-header">
                    <div class="form-group">
                      <label for="res_images">ເພີ່ມຮູບ</label>
                      <input type="file"  id="att_images" (change)="fileChangeListener($event)">
                    </div>
                    <div class="box-tools"><a href="javascript:event(0)" class="closeIcon" (click)="checkEditProfile=false">ຍົກເລີກ</a></div>
                  </div>
                  <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let image of attractions['images']; let i=index">
                          <div class="small-box">
                            <div class="box-header">
                              <div class="box-tools"><i tooltip="ລົບ" class="fa fa-close closeIcon" (click)="deleteImage(i, image)"></i></div>
                            </div>
                            <div class="inner">
                              <img [src]="image" alt="image {{i}}">
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!checkEditProfile">
            <div class="col-lg-12 col-xs-12">
                <img [src]="attractions['images'][0]" alt="Photo 2" *ngIf="attractions['images']">
                <i tooltip="ແກ້ໄຂຮູບພາບ" class="fa fa-edit editProfile" (click)="checkEditProfile=true"></i>
            </div>
        </div>
        <!-- /.user-block -->
        <div class="row">
            <div class="col-lg-12 col-xs-12" *ngIf="!checkEditName">
                <h3>
                  <strong tooltip="ຊື່ສະຖານທີ່ທ່ອງທ່ຽວ">{{attractions['name']}}</strong> 
                  <span style="font-size: 16px;">
                    (<span class="help-text"> ສະຖານທີ່ທ່ອງທ່ຽວ </span>) 
                  </span> 
                  <i tooltip="ແກ້ໄຂຊື່ສະຖານທີ່ທ່ອງທ່ຽວ" class="fa fa-edit editIcon" (click)="viewEditName()"></i>
                </h3>
                <p>
                  <span tooltip="ປະເພດສະຖານທີ່ທ່ອງທ່ຽວ" style="color: rgb(206, 205, 205);">{{attractions['attractions_type']['name']}}</span>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditName">
              <h4 class="text-center"><strong>ແກ້ໄຂຊື່ສະຖານທີ່ທ່ອງທ່ຽວ</strong></h4>
              <form novalidate [formGroup]="updateTittleForm" (ngSubmit)="updateTitle()">
                <table class="table table-condensed">
                  <tr>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" id="att_name" formControlName="att_name" placeholder="ຊື່ສະຖານທີ່ທ່ອງທ່ຽວ">
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control select2" id="att_type" formControlName="att_type" style="width: 100%;">
                            <option *ngFor="let type of attractions_types" value="{{type['_id']}}">{{type['name']}}</option>
                        </select>
                      </div>
                    </td>
                    <td style="width: 10px">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                    </td>
                    <td style="width: 10px">
                        <button type="button" class="btn btn-danger" (click)="checkEditName=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
          <div class="row">
              <div class="col-lg-12 col-xs-12">
                  <h4>
                    <strong>ລາຄາເຂົ້າຊົມ:</strong> 
                    <i tooltip="ແກ້ໄຂລາຄາເຂົ້າຊົມ" class="fa fa-edit editIcon" *ngIf="!checkEditPrice" (click)="viewEditPrice()"></i>
                  </h4>
                  <div class="row" *ngIf="!checkEditPrice">
                      <div class="col-lg-4 col-sm-4 col-xs-12">
                        ສຳລັບຜູ້ໃຫຍ່: <strong>{{attractions['price']['adult'] || 0}} ກີບ</strong>
                      </div>
                      <div class="col-lg-4 col-sm-4 col-xs-12">
                        ສຳລັບຄົນຕ່າງຊາດ: <strong>{{attractions['price']['foriegn'] || 0}} ກີບ</strong>
                      </div>
                      <div class="col-lg-4 col-sm-4 col-xs-12">
                        ສຳລັບເດັກນ້ອຍ: <strong>{{attractions['price']['kid'] || 0}} ກີບ</strong>
                      </div>
                  </div>
                  <div *ngIf="checkEditPrice">
                    <form [formGroup]="updatePriceForm" (ngSubmit)="updatePrice()">
                      <table class="table table-condensed">
                        <tr>
                          <td>
                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="att_adult_price" placeholder="ລາຄາສຳລັບຜຸ້ໃຫຍ່">
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="att_foreign_price" placeholder="ລາຄາສຳລັບຄົນຕ່າງຊາດ">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="att_children_price" placeholder="ລາຄາສຳລັບເດັກນ້ອຍ">
                            </div>
                          </td>
                          <td style="width: 10px;">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                          </td>
                          <td style="width: 10px;">
                            <button type="button" class="btn btn-danger" (click)="checkEditPrice=false"><i class="fa fa-close"></i></button>
                          </td>
                        </tr>
                      </table>
                    </form>
                  </div>
              </div>
            <div class="col-lg-12 col-xs-12">
                <h4><strong>ທີ່ຢູ່:</strong></h4>
                <p *ngIf="!checkEditAddress">
                    <span style="font-size: 16px;" *ngIf="attractions['address']">
                      ບ້ານ{{attractions['address']['village']}} 
                      ເມືອງ{{attractions['address']['district']['district']}} 
                      ແຂວງ{{attractions['address']['district']['province']['province']}}
                    </span>
                  <i tooltip="ແກ້ໄຂທີ່ຢູ່" class="fa fa-edit editIcon" (click)="viewEditAddress()"></i>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditAddress">
                <form novalidate [formGroup]="updateAddressForm" (ngSubmit)="updateAddress()">
                  <table class="table table-condensed">
                    <tr>
                      <td>
                        <select class="form-control select2" id="att_province" formControlName="att_province" style="width: 100%;" (change)="changeDistrict()">
                            <option *ngFor="let province of provinces; let i=index" value="{{province._id}}"><span>{{province.province}}</span></option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control select2" id="att_district" formControlName="att_district" style="width: 100%;" (change)="changeVillage()">
                            <option *ngFor="let district of districts; let j=index" value="{{district._id}}"><span>{{district.district}}</span></option>
                        </select>
                      </td>
                      <td>
                        <input 
                              type="text" 
                              class="form-control" 
                              id="att_village" 
                              ngui-auto-complete
                              [source]="villages"
                              z-index="4"
                              formControlName="att_village"
                              placeholder="ບ້ານ">
                      </td>
                      <td style="width: 10px">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                      </td>
                      <td style="width: 10px">
                          <button type="button" class="btn btn-danger" (click)="checkEditAddress=false"><i class="fa fa-close"></i></button>
                      </td>
                    </tr>
                  </table>
                </form>
            </div>

            <div class="col-lg-12 col-xs-12">
              <div class="map">
                <agm-map 
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="true"
                  [zoomControl]="true">
                  
                  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="true"
                      [editable]="true">
                  </agm-circle>

                </agm-map>
              </div>
              <i tooltip="ປ່ຽນຈຸດທີ່ຕັ້ງ" class="fa fa-edit editLocation" (click)="checkEditLocation=true"></i>
              <div class="text-right saveLocationButton" *ngIf="checkEditLocation">
                  <button tooltip="ບັນທືກຈຸດທີ່ຕັ້ງໃໝ່" type="button" class="btn btn-primary btn-sm" (click)="updateLocation()"><i class="fa fa-save"></i></button>
                  <button tooltip="ຍົກເລີກ" type="button" class="btn btn-danger btn-sm" (click)="cancelLocation()"><i class="fa fa-close"></i></button>
              </div>
              <button tooltip="ເລືອກຈຸດທີ່ຕັ້ງປະຈຸບັນ" type="button" class="btn btn-success btn-round" *ngIf="checkEditLocation" (click)="setCurrentLocationLatLong()"><i class="fa fa-map-marker"></i></button>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12 col-xs-12">
                <h4><strong>ລາຍລະອຽດ:</strong></h4>
                <p *ngIf="!checkEditDetail">
                  <span style="font-size: 16px;"> {{attractions['details']}}</span> 
                  <i tooltip="ແກ້ໄຂລາຍລະອຽດ" class="fa fa-edit editIcon" (click)="viewEditDetail()"></i>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditDetail">
                <form novalidate [formGroup]="updateDetailForm" (ngSubmit)="updateDetail()">
                  <textarea class="textarea" placeholder="ລາຍລະອຽດ" formControlName="att_detail"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                  <div class="text-right">
                      <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> ບັນທຶກ</button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="checkEditDetail=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                  </div>
                </form>
            </div>
            <div class="col-lg-12 col-xs-12">
                <h4><strong>ກົດລະບຽບ:</strong></h4>
                <p *ngIf="!checkEditRule">
                  <span style="font-size: 16px;"> {{attractions['rules']}}</span> 
                  <i tooltip="ແກ້ໄຂກົດລະບຽບ" class="fa fa-edit editIcon" (click)="viewEditRule()"></i>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditRule">
                <form novalidate [formGroup]="updateRuleForm" (ngSubmit)="updateRule()">
                  <textarea class="textarea" placeholder="ກົດລະບຽບ" formControlName="att_rule"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                  <div class="text-right">
                      <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> ບັນທຶກ</button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="checkEditRule=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                  </div>
                </form>
            </div>

            <div class="col-lg-12 col-xs-12">
                <h4><strong>ກິດຈະກຳຕ່າງໆ:</strong></h4>
                <p *ngIf="!checkEditActivity">
                  <span style="font-size: 16px;"> {{attractions['activities']}}</span> 
                  <i tooltip="ແກ້ໄຂກິດຈະກຳຕ່າງໆ" class="fa fa-edit editIcon" (click)="viewEditActivity()"></i>
                </p>
            </div>
            <div class="col-lg-12 col-xs-12" *ngIf="checkEditActivity">
                <form novalidate [formGroup]="updateActivityForm" (ngSubmit)="updateActivity()">
                  <textarea class="textarea" placeholder="ກິດຈະກຳຕ່າງໆ" formControlName="att_activity"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                  <div class="text-right">
                      <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> ບັນທຶກ</button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="checkEditActivity=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                  </div>
                </form>
            </div>

            <div class="col-lg-12 col-xs-12">
                <h4><strong>ວີດີໂອ:</strong></h4>
                <div *ngIf="checkEditVideo">
                  <form novalidate [formGroup]="updateVideoForm" (ngSubmit)="updateVideo()">
                    <table class="table table-condensed">
                      <tr>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control" id="att_video" formControlName="att_video" placeholder="Youtube ວີດີໂອ URL">
                          </div>
                          <ul class="error-message-one" *ngIf="updateVideoForm.controls['att_video'].errors && updateVideoForm.controls['att_video'].dirty">
                            <li [hidden]="!updateVideoForm.controls['att_video'].hasError('required')">ວີດີໂອ URL ຫ້າມວ່າງ</li>
                            <li [hidden]="!updateVideoForm.controls['att_video'].hasError('url')">(https://www.youtube.com/...)</li>
                          </ul>
                        </td>
                        <td style="width: 10px">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
                        </td>
                        <td style="width: 10px">
                            <button type="button" class="btn btn-danger" (click)="checkEditVideo=false"><i class="fa fa-close"></i> ຍົກເລີກ</button>
                        </td>
                      </tr>
                    </table>
                  </form>
                  <!-- <div class="col-lg-12 col-xs-12" *ngIf="updateVideoForm.value['att_video'] && updateVideoForm.controls['att_video'].valid">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="safeVideoUrl(updateVideoForm.value['att_video'])"
                                frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div> -->
                </div>
            </div>
            <div class="col-lg-12 col-xs-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe *ngIf="attractions['video_url']" class="embed-responsive-item" [src]="safeVideoUrl(attractions['video_url'])"
                        frameborder="0" allowfullscreen></iframe>
              </div>
              <i tooltip="ແກ້ໄຂວີດີໂອ" class="fa fa-edit editLocation" *ngIf="!checkEditVideo" (click)="viewEditVideo()"></i>
            </div>

            <div class="col-lg-12 col-xs-12">
                <h4>
                  <strong>ຂໍ້ມູນຕິດຕໍ່:</strong> 
                  <i 
                    tooltip="ແກ້ໄຂຂໍ້ມູນຕິດຕໍ່" 
                    class="fa fa-edit editIcon" 
                    *ngIf="!checkEditContact" 
                    (click)="viewEditContact()">
                  </i>
                </h4>
              <div class="row" *ngIf="!checkEditContact">
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <p>ເບີໂທ:</p>
                  <p><strong>{{attractions['tel']}}</strong></p>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <p>ອີເມວ:</p>
                  <p><strong>{{attractions['email']}}</strong></p>
                </div>
              </div>

              <div *ngIf="checkEditContact">
                <form [formGroup]="updateContactForm" (ngSubmit)="updateContact()">
                  <table class="table table-condensed">
                    <tr>
                      <td>
                          <div class="form-group">
                              <input type="text" class="form-control" id="att_tel" formControlName="att_tel" placeholder="ເບີໂທ">
                          </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="att_email" formControlName="att_email" placeholder="ອີເມວ">
                        </div>
                      </td>
                      <td style="width: 10px;">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                      </td>
                      <td style="width: 10px;">
                        <button type="button" class="btn btn-danger" (click)="checkEditContact=false"><i class="fa fa-close"></i></button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
      </div>
      
      <!-- /.box-footer -->
      <div class="box-footer">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
              <h4><strong>ສື່ອອນໄລຕ່າງໆ:</strong></h4>
          </div>
          <div class="col-lg-12 col-xs-12">
            <div class="row" *ngIf="!checkEditSocial">
              <div class="col-lg-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let social of attractions['socials']; let i=index">
                    <div class="small-box">
                      <div class="box-header">
                        <p><a href="{{social['url']}}" target="_blank"><span style="font-size: 16px;">{{social['name']}}</span></a></p>
                        <div class="box-tools">
                            <i class="fa fa-edit editIcon" (click)="viewEditSocial(i, social)"></i>
                            <i class="fa fa-close closeIcon" (click)="deleteSocial(i, social)"></i>
                        </div>
                        <div>
                              <strong>{{social['url']}}</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xs-12 text-right" *ngIf="!checkAddSocial">
                  <a tooltip="ເພີ່ມສື່ອອນໄລ" href="javascript:event" class="color-green" (click)="checkAddSocial=true"><i class="fa fa-plus"></i> ເພີ່ມສື່</a>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="checkAddSocial">
                <form novalidate [formGroup]="addNewSocialForm" (ngSubmit)="saveNewSocial()">
                  <p><strong>ເພີ່ມສື່ອອນໄລ</strong></p>
                  <table class="table table-condensed">
                    <tr>
                      <td>
                          <div class="form-group">
                              <input type="text" class="form-control input-sm" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                          </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" formControlName="url" placeholder="URL">
                        </div>
                      </td>
                      <td style="width: 10px;">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i></button>
                      </td>
                      <td style="width: 10px;">
                        <button type="button" class="btn btn-danger btn-sm" (click)="checkAddSocial=false"><i class="fa fa-close"></i></button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xs-12" *ngIf="checkEditSocial">
              <form novalidate [formGroup]="updateSocailForm" (ngSubmit)="updateSocial()">
                <h4><strong>ແກ້ໄຂ</strong></h4>
                <table class="table table-condensed">
                  <tr>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                        </div>
                    </td>
                    <td>
                      <div class="form-group">
                          <input type="text" class="form-control" formControlName="url" placeholder="URL">
                      </div>
                    </td>
                    <td style="width: 10px;">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                    </td>
                    <td style="width: 10px;">
                      <button type="button" class="btn btn-danger" (click)="checkEditSocial=false"><i class="fa fa-close"></i></button>
                    </td>
                  </tr>
                </table>
              </form>
          </div>
          <div class="col-lg-12 col-xs-12 text-center">
              <a href="javascript:event" class="closeIcon" style="font-size: 16px;"><i class="fa fa-trash"></i> ລົບຂໍ້ມູນທັງໝົດ</a>
          </div>
        </div>
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<!-- Crom image dialog -->
<div class="image-cropper-view" *ngIf="cropImageChecked">
    <div class="text-center">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="text-center">
      <label style="width: 800px;">
        <div class="text-right">
          <button type="button" class="btn btn-danger" (click)="cancelCrop()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
          <button type="button" class="btn btn-success" (click)="croppedImage()"><i class="fa fa-save"></i> ບັນທຶກ</button>
        </div>
      </label>
    </div>
  </div>
  <!-- Crom image dialog -->

  <!-- Crom image dialog -->
<div class="image-cropper-view" *ngIf="cropImageChecked">
    <div class="text-center">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="text-center">
      <label style="width: 800px;">
        <div class="text-right">
          <button type="button" class="btn btn-danger" (click)="cancelCrop()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
          <button type="button" class="btn btn-success" (click)="croppedImage()"><i class="fa fa-save"></i> ບັນທຶກ</button>
        </div>
      </label>
    </div>
  </div>
  <!-- Crom image dialog -->

<!-- Upload image dialog *ngIf="uploadImageChecked" -->
<div class="upload-box" *ngIf="uploadImageChecked">
    <div class="box-revers-background"></div>
    <div class="box box-widget uppload-detail">
      <div class="box-body">
        <div class="clearfix">
          <span class="pull-left">ອັບໂຫຼດແລ້ວ</span>
          <small class="pull-right">{{uploadPercent | number:'1.0-0'}}%</small>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-green" [ngStyle]="{width: uploadPercent + '%'}"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Upload image dialog -->
  
  <!-- Saving icon -->
    <div class="save-box" *ngIf="savingChecked">
      <div class="box-revers-background"></div>
      <div class="box box-widget bg-blue save-detail">
        <div class="box-body text-center">
            <i class="fa fa-save"></i>
            <strong>ກຳລັງບັນທືກ...</strong>
        </div>
      </div>
    </div>
  <!-- Saving icon -->
  
  <!-- Saved icon -->
  <div class="save-box" *ngIf="savedChecked">
      <div class="box-revers-background"></div>
    <div class="box box-widget bg-green save-detail">
      <div class="box-body text-center">
          <i class="fa fa-check"></i>
          <strong>ບັນທືກແລ້ວ</strong>
      </div>
    </div>
  </div>
  <!-- Saved icon -->