<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="300" [showSpinner]="true" [direction]="'leftToRightIncreased'"
[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<div class="row">
  <div class="col-lg-push-2 col-lg-8 col-md-12 col-xs-12">
    <h2 class="text-center"><strong>ເພີ່ມສະຖານທີ່ພັກແຮມໃຫມ່</strong></h2>
    <div class="box box-primary">
        <div class="box-header with-border">
          <p class="box-title">ກະລຸນາເພີ່ມຂໍ້ມູນຂອງສະຖານທີ່ພັກແຮມໃຫ້ຄົບຖ້ວນ ແລະ ຖືກຕ້ອງ</p>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate role="form" [formGroup]="shelterForm" (ngSubmit)="saveShelter()">
          <div class="box-body">
            <!-- Attraction row -->
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>ຊື່ສະຖານທີ່ພັກແຮມ</label>
                    <span style="color: red;" [hidden]="!shelterForm.controls['shelt_name'].hasError('required')">*</span>
                    <input type="text" class="form-control" id="shelt_name" formControlName="shelt_name" placeholder="ຊື່ສະຖານທີ່ພັກແຮມ">
                  </div>
                  <ul class="error-message-one" *ngIf="shelterForm.controls['shelt_name'].errors && shelterForm.controls['shelt_name'].dirty">
                    <li [hidden]="!shelterForm.controls['shelt_name'].hasError('required')">ຊື່ສະຖານທີ່ພັກແຮມຫ້າມວ່າງ</li>
                  </ul>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group" style="margin-top: 5px;">
                  <span>ປະເພດສະຖານທີ່ພັກແຮມ</span>
                  <span style="color: red;" [hidden]="!shelterForm.controls['shelt_type'].hasError('required')">*</span>
                  <select class="form-control select2" id="shelt_type" formControlName="shelt_type" style="width: 100%;">
                    <option *ngFor="let type of shelter_types" value="{{type['_id']}}">{{type['name']}}</option>
                  </select>
                </div>
                <ul class="error-message-one" *ngIf="shelterForm.controls['shelt_type'].errors && shelterForm.controls['shelt_type'].dirty">
                  <li [hidden]="!shelterForm.controls['shelt_type'].hasError('required')">ຍັງບໍ່ເລືອກປະເພດສະຖານທີ່ພັກແຮມ</li>
                </ul>
              </div>
            </div>
            <!-- Attraction row -->
            <!-- Address row -->
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <h5><strong>ທີ່ຢູ່</strong></h5>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <span>ແຂວງ</span>
                    <select class="form-control select2" id="shelt_province" formControlName="shelt_province" style="width: 100%;" (change)="changeDistrict()">
                      <option *ngFor="let province of provinces; let i=index" value="{{province._id}}"><span>{{province.province}}</span></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <span>ເມືອງ</span>
                    <select class="form-control select2" id="shelt_district" formControlName="shelt_district" style="width: 100%;" (change)="changeVillage()">
                      <option *ngFor="let district of districts; let j=index" value="{{district._id}}"><span>{{district.district}}</span></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <span>ບ້ານ</span>
                    <span style="color: red;" [hidden]="!shelterForm.controls['shelt_village'].hasError('required')">*</span>
                    <input 
                          type="text" 
                          class="form-control" 
                          id="shelt_village" 
                          ngui-auto-complete
                          [source]="villages"
                          z-index="4"
                          formControlName="shelt_village" 
                          placeholder="ບ້ານ">
                  </div>
                  <ul class="error-message-one" *ngIf="shelterForm.controls['shelt_village'].errors && shelterForm.controls['shelt_village'].dirty">
                    <li [hidden]="!shelterForm.controls['shelt_village'].hasError('required')">ຊື່ບ້ານຫ້າມວ່າງ</li>
                  </ul>
                </div>
            </div>
            <!-- Address row -->
            
            <!-- Map row -->
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <h5><strong>ຈຸດທີ່ຕັ້ງໃນແຜນທີ່</strong></h5>
                <div class="map">
                  <agm-map 
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="true"
                    (mapClick)="changeLocation($event)">
                    
                    <agm-marker 
                        [latitude]="lat" 
                        [longitude]="lng" 
                        [label]="label">
                      </agm-marker>
  
                  </agm-map>
                </div>
                <button type="button" class="btn btn-success btn-round" (click)="setCurrentLocationLatLong()"><i class="fa fa-map-marker"></i></button>
              </div>
              <div class="col-lg-6 col-xs-12">
                <div class="form-group">
                  <span>ລັດຕິຈຸດ</span>
                  <span style="color: red;" [hidden]="!shelterForm.controls['shelt_lat'].hasError('required')">*</span>
                  <input type="text" class="form-control" readonly formControlName="shelt_lat" id="shelt_lat" placeholder="ລັດຕິຈຸດ">
                </div>
              </div>
              <div class="col-lg-6 col-xs-12">
                <div class="form-group">
                    <span>ລອງຕິຈຸດ</span>
                    <span style="color: red;" [hidden]="!shelterForm.controls['shelt_long'].hasError('required')">*</span>
                  <input type="text" class="form-control" readonly formControlName="shelt_long" id="shelt_long" placeholder="ລອງຕິຈຸດ">
                </div>
              </div>
              <div class="col-lg-12 col-xs-12">
                <ul class="error-message-one" *ngIf="shelterForm.controls['shelt_long'].errors && shelterForm.controls['shelt_long'].dirty">
                  <li [hidden]="!shelterForm.controls['shelt_long'].hasError('required')">ຄລິກເລືອກລັດຕິຈຸດ ແລະ ລອງຕິຈຸດຈາກແຜນທີ່</li>
                </ul>
              </div>
            </div>
            <!-- Map row -->
            <!-- Textarea row -->
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <label>ລາຍລະອຽດ</label>
                  <textarea class="textarea" placeholder="ລາຍລະອຽດ" formControlName="shelt_detail"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>
            </div>
            <!-- Textarea row -->
            <!-- Contact -->
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <h5><strong>ຂໍ້ມູນຕິດຕໍ່</strong></h5>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span>ເບີໂທ</span>
                    <span style="color: red;" [hidden]="!shelterForm.controls['shelt_tel'].hasError('required')">*</span>
                    <input type="text" class="form-control"  id="shelt_tel" formControlName="shelt_tel" placeholder="ເບີໂທຕິດຕໍ່">
                  </div>
                  <ul class="error-message-one" *ngIf="shelterForm.controls['shelt_tel'].errors && shelterForm.controls['shelt_tel'].dirty">
                    <li [hidden]="!shelterForm.controls['shelt_tel'].hasError('required')">ເບີໂທຕິດຕໍ່ຫ້າມວ່າງ</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <span>ອີເມວ</span>
                    <span style="color: red;" [hidden]="!shelterForm.controls['shelt_email'].hasError('required')">*</span>
                    <input type="email" class="form-control"  id="shelt_email" formControlName="shelt_email" placeholder="ອີເມວຕິດຕໍ່">
                  </div>
                  <ul class="error-message-many" *ngIf="shelterForm.controls['shelt_email'].errors && shelterForm.controls['shelt_email'].dirty">
                    <li [hidden]="!shelterForm.controls['shelt_email'].hasError('required')">ອີເມວຫ້າມວ່າງ</li>
                    <li [hidden]="!shelterForm.controls['shelt_email'].hasError('simpleEmailRule')">ອີເມວບໍ່ຖືກຕ້ອງ</li>
                  </ul>
                </div>
              </div>
              <!-- Contact -->
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <h5><strong>ສື່ອອນໄລຕ່າງໆ</strong></h5>
              </div>
              <div class="col-lg-12 col-xs-12">
                <table class="table table-condensed" formArrayName="socials" *ngIf="socialLength()">
                  <tr>
                    <th style="width: 10px">ລຳດັບ</th>
                    <th>ຊື່</th>
                    <th>URL</th>
                    <th style="width: 40px">ລົບ</th>
                  </tr>
                  <tr *ngFor="let social of shelterForm.get('socials').controls; let i=index"
                      [formGroup]="social">
                    <td>{{i + 1}}</td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" formControlName="name" placeholder="ຊື່ຂອງສື່ອອນໄລ">
                        </div>
                        <ul class="error-message-one" *ngIf="social.controls['name'].errors && social.controls['name'].dirty">
                          <li [hidden]="!social.controls['name'].hasError('required')">ຊື່ສື່ອອນໄລຫ້າມວ່າງ</li>
                        </ul>
                    </td>
                    <td>
                      <div class="form-group">
                          <input type="text" class="form-control input-sm" formControlName="url" placeholder="URL">
                      </div>
                      <ul class="error-message-many" *ngIf="social.controls['url'].errors && social.controls['url'].dirty">
                        <li [hidden]="!social.controls['url'].hasError('required')">URL ຫ້າມວ່າງ</li>
                        <li [hidden]="!social.controls['url'].hasError('url')">(http or https://www.example.com/...)</li>
                      </ul>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm" (click)="removeSocial(i)"><i class="fa fa-minus"></i></button>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-12 col-xs-12 text-right">
                  <button type="button" class="btn btn-success btn-sm" (click)="addNewSocial()"><i class="fa fa-plus"></i> ເພີ່ມສື່</button>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="form-group">
                  <label for="res_images">ເລືອກຮູບ</label> (<span class="help-text">ສາມາດເລືອກໄດ້ຫຼາຍຮູບ</span>)
                  <span style="color: red;" [hidden]="shelterForm.value['images'].length">*</span>
                  <input type="file" accept="image/*" id="shelt_images" (change)="fileChangeListener($event, null)">
                </div>
                <ul class="error-message-one" *ngIf="checkImageAfterTrigerForm">
                  <li [hidden]="shelterForm.value['images'].length">ຕ້ອງເລືອກຮູບຂອງທີ່ພັກອາໄສຢ່າງໜ້ອຍ 1 ຮູບ</li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let image of shelterForm.value['images']; let j=index">
                <div class="small-box">
                  <div class="box-header">
                    <p><strong>ຮູບທີ່ {{j + 1}}</strong></p>
                    <div class="box-tools"><i class="fa fa-close closeIcon" (click)="shelterForm.value['images'].splice(j, 1);"></i></div>
                  </div>
                  <div class="inner">
                      <img [src]="image" alt="image {{j + 1}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="form-group">
                  <span>Youtube ວີດີໂອ URL</span>
                  <input type="text" class="form-control" id="shelt_video" formControlName="shelt_video" placeholder="Youtube ວີດີໂອ URL">
                </div>
                <ul class="error-message-one" *ngIf="shelterForm.controls['shelt_video'].errors && shelterForm.controls['shelt_video'].dirty">
                  <li [hidden]="!shelterForm.controls['shelt_video'].hasError('url')">(https://www.youtube.com/...)</li>
                </ul>
              </div>
              <div class="col-lg-12 col-xs-12" *ngIf="shelterForm.value['shelt_video'] && shelterForm.controls['shelt_video'].valid">
                <div class="embed-responsive embed-responsive-16by9">
                    <embed class="embed-responsive-item" [src]="safeVideoUrl(shelterForm.value['shelt_video'])"
                            frameborder="0" allowfullscreen>
                  </div>
              </div>
            </div>
            <!-- Room type price -->
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                  <hr/>
                <!-- <h3><strong>ເມນູອາຫານທັງໝົດ</strong></h3> -->
                <div class="box">
                    <div class="box-header">
                      <h3 class="text-center"><strong>ຫ້ອງແບບຕ່າງໆ</strong></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        
                      <div class="row" formArrayName="rooms">
                          <div class="col-lg-12 col-xs-12" *ngFor="let room of getRoomControls(); let j=index"
                              [formGroup]="room">
                              <div class="box box-primary">
                                <div class="box-header with-border">
                                  <p class="box-title"><strong>ຫ້ອງແບບທີ່ {{j + 1}}</strong></p>
                                  <div class="box-tools">
                                      <button type="button" class="btn btn-danger btn-sm" (click)="removeRoomStyle(j)"><i class="fa fa-minus"></i></button>
                                  </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                  <div class="row">
                                    <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                          <span>ແບບຫ້ອງນອນ</span>
                                          <span style="color: red;" [hidden]="!room.controls['style'].hasError('required')">*</span>
                                          <input type="text" class="form-control input-sm" formControlName="style" placeholder="ແບບຫ້ອງນອນ">
                                        </div>
                                        <ul class="error-message-one" *ngIf="room.controls['style'].errors && room.controls['style'].dirty">
                                          <li [hidden]="!room.controls['style'].hasError('required')">ສະໄຕຫ້ອງນອນຫ້າມວ່າງ</li>
                                        </ul>
                                        <div class="form-group">
                                          <span>ລາຄາ</span>
                                          <span style="color: red;" [hidden]="!room.controls['price'].hasError('required')">*</span>
                                          <input type="number" class="form-control input-sm" formControlName="price" placeholder="ລາຄາ">
                                        </div>
                                        <ul class="error-message-many" *ngIf="room.controls['price'].errors && room.controls['price'].dirty">
                                          <li [hidden]="!room.controls['price'].hasError('required')">ລາຄາຫ້າມວ່າງ</li>
                                          <li [hidden]="!room.controls['price'].hasError('min')">ລາຄາຄວນຫຼາຍກວ່າ 0 ກີບ</li>
                                        </ul>
                                        <div class="form-group">
                                          <span for="room_images">ເລືອກຮູບ</span>
                                          <span style="color: red;" [hidden]="!room.controls['room_image'].hasError('required')">*</span>
                                          <input type="file" accept="image/*" id="room_image" (change)="fileChangeListener($event, j)">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                                        <div class="small-box">
                                            <div class="box-header">
                                              <ul class="error-message-one" *ngIf="room.controls['room_image'].errors && room.controls['room_image'].dirty">
                                                <li [hidden]="!room.controls['room_image'].hasError('required')">ບໍ່ມີຮູບ</li>
                                              </ul>
                                            </div>
                                            <div class="inner">
                                                <img [src]="room.get('room_image').value?room.get('room_image').value:'assets/img/ic_image.png'" alt="image {{i + 1}}">
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="text-right">
                      <button type="button" class="btn btn-success btn-sm" style="margin-bottom: 5px; margin-right: 5px;" (click)="addNewRoomStyle()"><i class="fa fa-plus"></i> ເພີ່ມ</button>
                    </div>
                  </div>
              </div>
            </div>
            <!-- Room type price -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="reset" class="btn btn-danger"><i class="fa fa-close"></i> ຍົກເລີກ</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> ບັນທືກ</button>
          </div>
        </form>
      </div>
  </div>
</div>

<div class="image-cropper-view" *ngIf="cropImageChecked">
  <div class="text-center">
    <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
  </div>
  <div class="text-center">
    <label style="width: 800px;">
      <div class="text-right">
        <button type="button" class="btn btn-danger" (click)="cancelCrop()"><i class="fa fa-close"></i> ຍົກເລີກ</button>
        <button type="button" class="btn btn-success" (click)="croppedImage()"><i class="fa fa-check"></i> ຕົກລົງ</button>
      </div>
    </label>
  </div>
</div>


<!-- Upload image dialog *ngIf="uploadImageChecked" -->
<div class="image-upload" *ngIf="uploadImageChecked">
  <div class="row">
    <div class="col-lg-push-2 col-lg-8 col-md-push-2 col-md-8 col-sm-push-1 col-sm-10 col-xs-push-1 col-xs-10">
      <div class="box box-widget">
        <div class="box-header">
            <h4><span>ອັບໂຫຼດຮູບ...</span> <strong>{{imageIndexUpload}}</strong>/<strong>{{imageLengthUpload}}</strong> <strong>ຮູບ</strong></h4>
        </div>
        <div class="box-body upload-scrollbar">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let image of shelterForm.value['images']; let i=index">
              <div class="box box-widget">
                <div class="box-body">
                  <div class="clearfix">
                    <span class="pull-left">ອັບໂຫຼດແລ້ວ</span>
                    <small class="pull-right">{{uploadPercentShelter[i] | number:'1.0-0'}}%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" [ngStyle]="{width: uploadPercentShelter[i]+'%'}"></div>
                  </div>
                  <img [src]="image" alt="image {{i}}">
                </div>
              </div>
            </div>

            <span *ngFor="let room of shelterForm.value['rooms']; let j=index">
              <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngIf="room.room_image">
                <div class="box box-widget">
                  <div class="box-body">
                    <div class="clearfix">
                      <span class="pull-left">ອັບໂຫຼດແລ້ວ</span>
                      <small class="pull-right">{{uploadPercentRoom[j] | number:'1.0-0'}}%</small>
                    </div>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" [ngStyle]="{width: uploadPercentRoom[j]+'%'}"></div>
                    </div>
                    <img [src]="room.room_image" alt="image {{j}}">
                  </div>
                </div>
              </div>
            </span>

          </div>
        </div>
        <div class="box-footer">
          <h4 class="text-center help-text"><strong>{{imageUploadMessage}}</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Upload image dialog -->

<!-- Saving icon -->
  <div class="save-box" *ngIf="savingChecked">
    <div class="box-revers-background"></div>
    <div class="box box-widget bg-blue save-detail">
      <div class="box-body text-center">
          <i class="fa fa-save"></i>
          <strong>ກຳລັງບັນທືກ...</strong>
      </div>
    </div>
  </div>
<!-- Saving icon -->

<!-- Saved icon -->
<div class="save-box" *ngIf="savedChecked">
    <div class="box-revers-background"></div>
  <div class="box box-widget bg-green save-detail">
    <div class="box-body text-center">
        <i class="fa fa-check"></i>
        <strong>ບັນທືກແລ້ວ</strong>
    </div>
  </div>
</div>
<!-- Saved icon -->
