<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li> User</li>
        <li class="active"> Profile</li>
      </ol>
    </section>
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <section class="content">
      <h1>User profile is working right now</h1>
    </section>
    <!-- Main content -->
    </div>